.result-card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  margin: 2rem auto;
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.loading {
  pointer-events: none;

  .background,
  .cover {
    opacity: 0.3;
  }
}

.loader {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F8E71C;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  border-radius: 50%;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  &::after {
    left: -10px;
    top: -5px;
    background-color: #C7C2A6;
    transform-origin: 15px 10px;
    animation: axis 1s linear infinite;
  }

  &::before {
    left: -25px;
    top: -15px;
    background-color: transparent;
    transform-origin: 30px 20px;
    animation: axis 2s linear infinite;
  }
}

@keyframes axis {
  0% {
    transform: rotateZ(0deg) translate3d(0,0,0);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0,0,0);
  }
}

figure {
  margin: 0;
  position: relative;

  img {
    height: auto;
    width: 100%;
  }
}

.progress-bar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 4px;
  overflow: hidden;
  border-radius: 0.2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;

  .playing & .bar {
    will-change: transform;
  }

  .bar {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
  }
}

.playback-button {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: white;
  z-index: 99;
  cursor: pointer;
  transform: translate(-50%, -50%);

  opacity: 0;

  transition: opacity 250ms ease;

  i {
    padding: 0;
    margin: 0;
  }
}

button {
  background: none;
  color: inherit;
  font-family: inherit;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  margin-right: 0.5rem;
  display: flex;
  justify-content: flex-start;

  i {
    font-size: 24pt;
    margin-left: -0.4rem;
  }
}

.right {
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.center {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 0;
  z-index: 1;

  transform: translateY(35px);

  transition: transform 250ms ease;

  .playing & {
    transform: none;
  }
}

.metadata {
  display: flex;
  flex-direction: column;
  font-size: 14pt;
  margin: 2rem 0;

  color: white;

  .name {
    padding-bottom: 0.4rem;
    font-weight: 500;
    text-align: center;
  }

  .artist {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9em;
    text-align: center;
  }

  em {
    font-size: 0.5em;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
  }
}

.cover {
  width: 40%;
  height: auto;
  z-index: 1;
  flex: 1;

  img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  &:hover .playback-button {
    opacity: 1;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  min-height: 100%;
  background-color: black;

  .playing & {
    will-change: transform;
  }

  img {
    transform: translate(-17%, -17%);
    filter: blur(20px) saturate(120%) brightness(50%);
    width: 150%;
    height: 150%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.preview-spectrum {
  height: 90px;
  width: 100%;

  transform: translateY(90px);
  transition: all 600ms ease-out;

  .playing & {
    transform: none;
    transition: all 300ms ease;
  }
}
