<div v-bind:class="classes">
  <div class="progress-bar">
    <div class="bar" v-bind:style="progressStyle"></div>
  </div>

  <div class="loader" v-if="this.loading"></div>

  <figure v-bind:class="backgroundClasses" tabindex="-1">
    <img v-bind:src="backgroundSrc" alt="Background image for search result" />
  </figure>

  <div class="center">
    <figure class="cover">
      <img v-bind:srcset="imageSourceSet" alt="Image for search result" />
      <button v-on:click="toggleAudioPlayback" class="playback-button">
        <i class="material-icons">{{currentPlayButtonIcon}}</i>
      </button>
    </figure>

    <div class="metadata">
      <span class="name">{{songName}}</span>
      <span class="artist">{{artistList}}</span>
      <!--<em>Playback powered by Spotify</em>-->
    </div>
  </div>

  <div class="right">
    <Spectrum v-bind:audioElement="audio" class="preview-spectrum" ref="spectrum"></Spectrum>
  </div>
</div>
